//z-index-ы
$popup: 1000;
$confirm: 1001;
$toast: 1002;

//blvc
$red: #91110e;
$red3: #a61613;
$white: #ffffff;
$base900light: rgba(26, 26, 26, 0.9);
$base800light: rgba(26, 26, 26, 0.8);
$base600light: rgba(26, 26, 26, 0.6);
$base400light: rgba(26, 26, 26, 0.4);
$base200light: rgba(26, 26, 26, 0.2);

$speed: 0.3s;

//azure
$HelveticaNeueCyr: 'HelveticaNeueCyr', sans-serif;
