.HowItWork {
  margin-bottom: em(200px);
  @include iflaptop {
    margin-bottom: em(160px);
  }
  @include iftablet {
    margin-bottom: em(100px);
  }
  @include ifmobile {
    margin-bottom: em(70px);
  }

  &_Title {
    text-align: center;
    margin-bottom: em(83px);
    @include iflaptop {
      margin-bottom: em(50px);
    }
    @include iftablet {
      margin-bottom: em(40px);
    }
    @include ifmobile {
      margin-bottom: em(28px);
    }
  }

  &_Steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: em(1420px);
    margin: 0 auto;
    @include ifmobile {
      flex-direction: column;
    }

    .Step {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width: em(340px);
      @include iflaptop {
        &:nth-child(1) {
          max-width: em(234px);
        }
        &:nth-child(2) {
          max-width: em(221px);
        }
        &:nth-child(3) {
          max-width: em(279px);
        }
      }
      @include iftablet {
        max-width: em(190px);
      }
      @include ifmobile {
        max-width: 100%;
        &:not(:last-child) {
          margin-bottom: em(42px);
        }
      }
      &_Image {
        width: em(140px);
        height: em(140px);
        margin-bottom: em(16px);
        @include ifmobile {
          width: em(120px);
          height: em(120px);
        }
      }

      &_Title {
        margin-bottom: em(10px);
        h3 {
          color: $base900light;
          text-align: center;
          font-size: em(22px);
          font-style: normal;
          font-weight: 500;
          line-height: 130%;
          @include iftablet {
            font-size: em(18px);
          }
          @include ifmobile {
            font-size: em(16px);
          }
        }
      }

      &_Description {
        p {
          color: $base600light;
          text-align: center;
          font-size: em(16px);
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          @include iftablet {
            font-size: em(14px);
          }
          @include ifmobile {
            font-size: em(14px);
          }
        }
      }

      &:nth-child(1) {
        .ArrowNext {
          position: absolute;
          top: em(50px);
          left: calc(100% + em(7px));
          @include iflaptop {
            top: em(65px);
            left: calc(100% + em(-10px));
          }
          @include iftablet {
            top: em(61px);
            left: 100%;
          }
          @include ifmobile {
            display: none;
          }

          &_Desktop {
            width: em(185px);
            height: em(39px);
            display: none;
            @include ifdesktop {
              display: block;
            }
          }

          &_Mobile {
            width: em(125px);
            height: em(39px);
            @include ifdesktop {
              display: none;
            }
            @include iftablet {
              width: em(97px);
              height: em(31px);
            }
          }
        }
      }
      &:nth-child(2) {
        .ArrowNext {
          position: absolute;
          top: em(49px);
          left: calc(100% + em(40px));
          width: em(113px);
          height: em(33px);
          @include iflaptop {
            top: em(65px);
            left: calc(100% + em(-6px));
          }
          @include iftablet {
            width: em(85px);
            height: em(25px);
            top: em(65px);
            left: calc(100% + em(-6px));
          }
          @include ifmobile {
            display: none;
          }
        }
      }
    }
  }
}
@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
