.BaseContainer {
  width: 100%;
  max-width: em(1920px);
  margin: 0 auto;
  padding: em(20px) em(150px);
  @include iflaptop {
    padding: em(20px) em(40px);
  }
  @include iftablet {
    padding: em(16px) em(20px);
  }
  @include ifmobile {
    padding: em(16px) em(10px);
  }
}
