@import './../src/assets/scss/core.scss';

//ТЕЛЕФОН НАЧАЛО
.react-tel-input {
  $size: 18px;
  font-size: 100% !important;
  height: em(62px) !important;
  font-family: 'HelveticaNeueCyr', sans-serif !important;
  @include ifmobile {
    $size: 16px;
    height: em(52px, $size) !important;
  }
}

.react-tel-input .form-control {
  $size: 18px;
  font-size: em($size) !important;
  color: rgba(26, 26, 26, 0.9) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 100% !important;
  letter-spacing: 0 !important;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  @include placeholder-color(transparent);

  width: 100% !important;
  height: 100% !important;
  padding-left: em(80px, $size) !important;
  border: 1px solid #e8e8ea;
  border-radius: em(12px, $size) !important;
  background: #fff !important;
  @include ifmobile {
    $size: 16px;
    border-radius: em(10px, $size) !important;
    padding-left: em(74px, $size) !important;
    font-size: em($size) !important;
  }
}
.react-tel-input:hover .form-control {
  border-color: #425eec !important;
}
.react-tel-input .form-control {
  &::-webkit-contacts-auto-fill-button {
    opacity: 0;
  }
}

.react-tel-input .form-control.phone-input-error {
  border-color: #ff5f5f !important;
}

//флаг и шеврон
.flag-dropdown {
  background: transparent !important;
  border: none !important;
}
.selected-flag {
  padding-left: em(27px) !important;
  @include ifmobile {
    padding-left: em(19px) !important;
  }

  &:hover {
    background: none !important;
  }
}
.react-tel-input .flag-dropdown.open {
  width: 100% !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background: none !important;
  border-radius: 0 !important;
}
.react-tel-input .flag {
  width: em(16px) !important;
  height: em(11px) !important;
}

.react-tel-input .selected-flag .arrow {
  margin-top: 0 !important;
  left: em(24px) !important;
  top: 50% !important;
  transform: translate(0%, -50%) rotate(0) !important;
  transition: all $speed ease;
  width: em(24px) !important;
  height: em(20px) !important;
  border: none !important;
  background-image: url('/pictures/icons/chevron-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.react-tel-input .flag-dropdown.open .selected-flag .arrow {
  transform: translate(0%, -50%) rotate(180deg) !important;
}

//дропдаун
.country-list {
  background-color: white;
  width: 100% !important;
  max-height: em(224px) !important;
  margin: em(6px) 0 0 !important;
  border-radius: em(12px) !important;
  border: 1px solid rgba(26, 26, 26, 0.1) !important;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.08),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

//поиск
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none !important;
}

.react-tel-input .country-list .search {
  padding: em(8px) em(16px) !important;
}
.react-tel-input .country-list .search-emoji {
  position: absolute;
  left: 2rem !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  font-size: 0 !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
  background-image: url('/pictures/icons/search.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.react-tel-input .country-list .search-box {
  $size: 16px;
  width: 100% !important;
  height: em(46px, $size) !important;
  margin: 0 !important;
  padding: em(4px, $size) 0 0 em(48px) !important;
  outline: none;
  border-radius: em(8px, $size) !important;
  border: 1px solid #d1d5db !important;
  background: #fff !important;

  color: rgba(26, 26, 26, 0.6);
  font-family: $HelveticaNeueCyr !important;
  font-size: em(15px) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}

//элементы списка
.react-tel-input .country-list .country {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: em(32px) !important;
  padding: em(6px) em(16px) !important;
  &:not(:last-child) {
    margin-bottom: em(8px) !important;
  }
}

.react-tel-input .country-list .flag {
  margin-top: 0 !important;
  margin-right: em(12px) !important;
}
.react-tel-input .country-list .country-name {
  color: rgba(26, 26, 26, 0.9) !important;
  font-family: $HelveticaNeueCyr !important;
  font-size: em(16px) !important;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  order: 1;
  @include ifmobile {
    font-size: em(14px) !important;
  }
}
.react-tel-input .country-list .country .dial-code {
  color: rgba(26, 26, 26, 0.9) !important;
  font-family: $HelveticaNeueCyr !important;
  font-size: em(16px) !important;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-right: em(16px, 16px) !important;
  @include ifmobile {
    font-size: em(14px) !important;
    margin-right: em(16px, 14px) !important;
  }
}
//пустоe значениe
.no-entries-message {
  display: flex;
  align-items: center;
  justify-content: center;
}
// ТЕЛЕФОН КОНЕЦ

// ДАТАПИКЕР НАЧАЛО
// инпут
.ant-picker-input input {
  $size: 18px;
  color: rgba(26, 26, 26, 0.9) !important;
  font-family: $HelveticaNeueCyr !important;
  font-size: em($size) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 100% !important;

  padding: em(32px, $size) em(16px, $size) em(10px, $size) em(24px, $size) !important;
  @include ifmobile {
    $size: 16px;
    font-size: em($size) !important;
    padding: em(26px, $size) em(16px, $size) em(9px, $size) em(16px, $size) !important;
  }

  &::placeholder {
    color: transparent !important;
  }
}
.ant-picker-input {
  position: initial;
}

.ant-picker-suffix {
  width: em(24px) !important;
  height: em(24px) !important;
  position: absolute !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  right: em(16px) !important;
}
.ant-picker-clear {
  width: em(24px) !important;
  height: em(24px) !important;
  position: absolute !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
  right: em(16px) !important;
  span svg {
    width: em(24px) !important;
    height: em(24px) !important;
  }
}

// календарь
.ant-picker-dropdown {
  font-size: 100% !important;
  line-height: normal !important;
}
.ant-picker-date-panel {
  width: em(288px) !important;
}
.ant-picker-panel-container {
  border-radius: em(12px) !important;
  box-shadow: 0px 4px 25px 0px rgba(169, 169, 169, 0.25) !important;
}
.ant-picker-panel {
  background: #fff !important;
}

.ant-picker-dropdown .ant-picker-cell {
  padding: em(4px) em(2px) !important;
}

.ant-picker-dropdown .ant-picker-header > button {
  min-width: 1.6em !important;
  font-size: em(14px) !important;
}
.ant-picker-header-view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
  padding: em(8px) em(18px) !important;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-content {
  width: 100% !important;
}
.ant-picker-dropdown .ant-picker-header-view button {
  color: rgba(26, 26, 26, 0.9) !important;
  text-align: center !important;
  font-family: $HelveticaNeueCyr !important;
  font-size: em(18px) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}

.ant-picker-dropdown .ant-picker-header {
  padding: 0px em(28px) !important;
}

.ant-picker-content thead tr th {
  color: rgba(26, 26, 26, 0.9) !important;
  font-family: $HelveticaNeueCyr !important;
  font-size: em(12px) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 100% !important;
  letter-spacing: 0.36px !important;
  text-transform: uppercase !important;
}

.ant-picker-dropdown .ant-picker-content th {
  $size: 12px;
  font-size: em($size) !important;
  width: auto !important;
  min-width: em(32px, 12px) !important;
  height: em(32px, 12px) !important;
}

.ant-picker-cell-inner {
  $size: 16px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  font-family: $HelveticaNeueCyr !important;
  font-size: em($size) !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 100% !important; /* 137.5% */
  border: none !important;

  border-radius: em(10px, $size) !important;
  min-width: auto !important;
  width: em(34px) !important;
  height: em(34px, $size) !important;
  &::before {
    display: none !important;
  }
  &:hover {
    background: rgba(66, 94, 236, 0.15) !important;
    color: #425eec !important;
  }
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #425eec !important;
  color: #fff !important;
}

.ant-picker-footer {
  display: none;
}
//ДАТАПИКЕР КОНЕЦ
